backports.shutil-get-terminal-size==1.0.0
decorator==4.0.10
Django==1.9.5
django-crispy-forms==1.6.0
ipdb==0.10.1
ipython==4.2.0
ipython-genutils==0.1.0
pickleshare==0.7.2
Pillow==9.3.0
simplegeneric==0.8.1
traitlets==4.2.1
